.input-file {
  &-file {
    position: absolute;
    width: 0;
    height: 0;
    border: 0;
    background-color: transparent;
  }

  &-button {
    position: absolute;
    width: 94%;
    height: 40px;
    border: 0;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}
