.service-content {
  position: relative;

  &-header-title {
    position: absolute !important;
    display: flex;
    align-items: center;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &-content {
      &-title {
        color: white;
        font-size: 1.8rem;
        line-height: 1.6rem;
        text-shadow: 1px 1px #0008;
      }
    }
  }

  &-store-rate {
    color: #d2d2d2;

    &-active {
      color: #ffc800;
    }
  }
}

.shop-content-info {
  font-size: 0.9rem;
  color: #333;

  &-bold {
    font-weight: 500;
  }
}
